*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

:root {
  --main-blue: #3F2AFF;
  --dark-blue: #212133;
  --footer-bg:#2E2B44;
  --container-width: 1110px;
}

.title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
}

.header {
  padding: 30px 15px;
  background: var(--main-blue);
  display:flex;
  justify-content: center;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: var(--container-width);
  width: 100%;
}

.header__ico {
  display: inline-block;
}

.header__nav {
  display: inline-block;
  max-width: 470px;
  width:100%;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.header__list {
  display: flex;
  justify-content: space-between;

}

.header__links {
  display: inline-block;
}

.header__link {
  text-decoration: none;
  color: #fff;
}

.hero {
  position: relative;
  background: radial-gradient(44.07% 44.07% at 67.78% 55.93%, #555681 0%, #212133 100%);
  }
.hero__container_settings
{
  display: flex;
  align-items: center;
  height: 100%;
}

.hero__content {
  display: inline-block;
  margin-right: 20px;
}

.hero__img {
  display: inline-block;
}
.hero__main{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  max-height: 360px;
  height: 100%;
}

.hero__title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 100%;
  color: #FFFFFF;
  margin-bottom: 28px;
}

.hero__disc {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #FFFFFF;
}

.btn {
  padding: 24px 75.5px;
  /* margin-bottom: 20px; */
  background: #3F2AFF;
  border: none;
  outline: none;
  border-radius: 20px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  cursor: pointer;
}



.advantages__disc {
  display: flex;
  margin-bottom: 24px;
}

.advantage__img {
  display: inline-block;
}

.advantages__text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #666666;
}

.advantages__title {
  margin-bottom: 17px;
  color: #2E2B44;
}

.advantages__list {
  display: flex;
  align-items: center;
}

.advantage {
  display: flex; 
  align-items: center;
}

/* .advantage:not(:last-child) {
  margin-right: 30px;
} */

.advantage__ico {
  width: 100%;
  height: 100%;
  max-width: 80px;
  max-height: 80px;
  margin-right: 30px;
}

.advantage__disc {
  display: inline-block;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  color: #666666;
}

.teachers {
  background: var(--dark-blue);
  padding: 80px 0;
}

.teachers__title {
  margin-bottom: 24px;
  color: #fff;
}

.teachers__persons {
  display: flex;
}


.teacher__img {
  margin-bottom: 24px;
  width: 100%;
  border-radius: 21px 21px 0px 0px;
}

.teacher__name {
  margin-bottom: 5px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: #FFFFFF;
}

.teacher__disc {
  max-width: 255px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #85859B;
}

.courses {
  font-size: 0;
  padding: 75px 0 80px;
}

.courses__title {
  color: var(--dark-blue);
  margin-bottom: 20px;
}

.courses__list {
  display: flex;
  flex-wrap: wrap;
}

.course {
  position: relative;
  height: fit-content;
}

.course__img 
{
  width: 100%;
}
.course__body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background: #EDF0F9;
  padding: 30px;
  border-radius: 0px 0px 20px 20px;
  min-height: 240px;
  flex: 1;
}
.course__dics {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #666666;
  overflow: hidden;
  align-items: flex-start;
  justify-content: space-between;
}



.course__title {
  margin-bottom: 15px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: #212133;
}

.course__btn {
  padding: 19.5px 54px;
  margin-top: auto;
  margin-bottom: 0;
}

.hours {
  position: absolute;
  display: flex;
  align-items: center;
  top: 10px;
  right: 20px;
}

.hours__ico
{
  display: inline-block;
  margin-right: 4px;
}

.hours__amount {
  display: inline-block;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}
.foooter__list{
  display: flex;
  justify-content: center;
  background: var(--footer-bg);
  padding: 28px 0;
}
.footer__socials 
{
  display: flex;
}
.social 
{
  height: 24px;
}
.social:not(:last-child){
  margin-right: 30px;
}
.copyrigt 
{
  display: flex;
  justify-content: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  text-transform: uppercase;
  color:var(--footer-bg);
}
.copyright__text{
  display: inline-block;
}
.copyright__logo {
  color: var(--main-blue);
  cursor: pointer;
}

@media(min-width:320px){
  .container{
    max-width: 510px;
  }

  .hero__img{
    display: none;
  }
.hero__container {
    align-items: center;
    height: 100%;
}
.advantages__disc{
  align-items: flex-start;
}
.advantage__img {
  display: none;
}
.course__btn{
  padding: 20.5px 55.5px;
}

}
@media(min-width:576px){
  .burger{
    display: none;
  }
  .advantage{
    flex-direction: column;
    align-items: flex-start;
  }
  .header__container{
    flex-direction: column;
  }
  
  .header__ico{
    margin-bottom: 30px;
  }
  .hero{
    height:567px ;
  }
  .hero__title{
   font-size: 50px; 
   margin-bottom: 15px;
  }
  .advantages
 {
  padding: 80px 0 60px;
 }
  .advantage__img {
    display: inline-block;
  }
  .advantage__ico{
    margin-bottom: 10px;
  }
  .teachers{
    padding: 70px 0 80px;
  }
  .teacher:not(:nth-child(n+3))
  {
    margin-bottom: 20px;
  }
  .course:not(:nth-child(n+3)) {
    margin-bottom: 30px;
  }
  .course__body{
    min-height: 413px;
  }
  .course__title {
    margin-bottom: 5px;
  }
  .course__btn{
    padding: 20.5px 48px;
  }
}

@media(min-width:768px){
  .container{
    max-width: 690px;
  }
  .hero{
    height: 620px;
  }
  .header__container{
    flex-direction: row;
    max-width: 690px;
    align-items: center;
    height: 100%;
  }
  .header__ico{
    margin-bottom: 0;
  }
  .hero__container_settings{
    max-width: 690px;
  }
  .hero__img{
    display: inline-block;
  }
  .hero__title{
    font-size: 50px;
  }
  .advantages
 {
  padding: 80px 0;
 }
  .advantages__disc{
    align-items: center;
  }
  .advantage__ico{
    margin-bottom: 0;
  }
  .teachers{
    padding: 75px 0 70px;
    }
  .teacher__img{
    margin-bottom: 30px;
  }
  .teacher__disc{
    max-width: none;
  }

  .courses__title {
    margin-bottom: 23px;
}
  .course__body{
    min-height: 317px;
    }
    .course__title {
      margin-bottom: 15px;
    }
  .course__btn{
    padding: 20.5px 50.5px;
  }
  
}
@media(min-width:962px){
  .hero__container_settings
  {
    max-width: 945px;
  }
  .hero__title{
    margin-bottom: 28px;
  }
  .courses__title {
    margin-bottom: 20px;
}
  .teacher:not(:nth-child(n+3))
  {
     margin-bottom: 0;
  }
.advantages
 {
  padding: 80px 0;
 }
}
@media(min-width:1200px){
  .container{
    max-width: 1110px;
  }
  .header__container{
    max-width: 1110px;
  }
  .hero__container{
    max-width: 1110px;
  }
  .hero__title{
    font-size: 60px;
  }
  .advantage{
    flex-direction: row;
    align-items: center;
  }
  .teachers__list{
    margin-bottom: 0;
  }
  .teacher__img{
    margin-bottom: 24px;
  }
  .teacher__disc{
    max-width: 260px;
  }
  .course__body{
    min-height: 240px;
  }
}

@media(max-Width:767px){

  .hero__main{
  width: 80%;
  margin-top: 35px;
}
}
@media(max-width:575px){
  .container{
    max-width: 290px;
  }
  .burger{
    display: inline-block;
    height: 30px;
  }
  .header{
    padding: 25px 15px;
  }
  .header__ico{
    width: 25%;
  }
  .header__nav{
    display: none;
  }
  .hero{
    padding: 50px 0;
    height: 253px;
  }
  .hero__main{
    width: 95%;
    margin-top: 0;
  }
  .hero__title{
    font-size: 30px;
    margin-bottom: 5px;
  }
  .hero__disc{
    font-size: 16px;
    line-height: 130%;
  }
  .btn{
    padding: 20.5px 53.5px;
  }
  .advantages{
    padding: 50px 0;
  }
  .advantages__title{
    font-size: 20px;
    margin-bottom: 1px;
    line-height: 130%;
  }
  .advantage:not(:last-child){
    margin-bottom: 30px;
  }
  .teachers{
    padding: 47px 0;
  }
  .teacher:not(:last-child){
    margin-bottom: 25px;
  }
  .teachers__title{
    font-size: 20px;
    margin-bottom: 27px;
  }
  .teacher__img{
    width: auto;
    margin-bottom: 27px;
  }

.teacher__disc{
  max-width: none;
}
.courses{
  padding: 50px 0;
}
.course:not(:last-child){
  margin-bottom: 30px;
}
.courses__title{
  font-size: 20px;
  line-height: 100%;
  margin-bottom: 23px;
}
  .course__body{
    height: 413px;
  }
  .course__title{
    margin-bottom: 2px;
  }
}